<div class="form-actions">
<h1>Edit Cleanup</h1>
  <p>
    Use this form to edit or delete your cleanup record. Please note: deleting a cleanup will permanently remove it from the site!
  </p>
</div>

<%= render 'cleanup_form', cleanup: @cleanup %>
<div class="actions">
<div class="text-center">
<%= link_to "Delete Cleanup", @cleanup, :class => "button secondary", :method => :delete %>
</div>
</div>





