<html>
  <h1>Cleanups By State</h1>

  <head>
    <title>JQVMap - World Map</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jqvmap.min.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jquery.vmap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/maps/jquery.vmap.usa.js" charset="utf-8"></script>

    <%= content_for :javascript do %>
    <script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({ 
          map: 'usa_en',
          backgroundColor: null,
          color: '#ffffff',
          enableZoom: true,
          showTooltip: true,
          selectedColor: null,
          hoverColor: '#2980b9'
          });
    });
    </script>
    <% end %>
  </head>
  
  <body>
    <div id="vmap" style="width: 600px; height: 400px;"></div>
  </body>
</html>










