<h1><%= "Cleanups for: #{@city_name}" %></h1>

<div>
<% @cleanups.each do |cleanup| %>
    <li><%= link_to cleanup.title, cleanup %></li>
    <% end %>
</div>

<div>
    <p>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Back', state_path(params[:state_id]) %> 
    </p>
</div>