<h1>About<%=image_tag("noun_Litter_872690.png", height: 95, width: 95)%></h1>

<h3>
    What is Cleanups?
</h3>
    <p>Cleanups is an app that helps you keep track of individual or group efforts to clean litter from roadsides, neighborhoods, parks, waterways...anywhere!</p>
<h3>
    How can I log my cleanup on this site?
</h3>
    <p>It's easy! Sign up for a free account, click "Log A Cleanup" and complete the cleanup form. 
    The form will ask you to enter data about your cleanup, including the date, location, number of volunteers, and total trash collected (an estimate is fine). 
    You can also add a short description of the event and some photos, if you like. When you're ready, submit the form. That's it! You can view and edit all of your logged cleanups from the "My Cleanups" page.</p>
<h3>
    Can I view cleanups posted by others?
</h3>
    <p>Yes! All cleanups logged on this site are publicly viewable. Curious to see cleanup activity in other states or in your own city? We encourage you to check out the "View Cleanups" page, where you can find cleanup events organized by state and city.</p>
<h3>
    What other features can I find here?
</h3>
    <p>Cleanups recently added a feature that calculates and displays the total trash collected at the state level--click on a state with at least one logged clenaup to see this feature in action! 
    As the app evolves, we hope to add more features in the future, including more statistics and a member forum. We would love to see Cleanups provide an inspiring and encouraging space for people interested in finding ways to make a difference in their communities and in helping the environment.</p>
